@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 90vh;
    margin-top: 10px;
    background-color: black; 
       
}

.container{     
    display: flex;
    align-items: center;   
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column; 
}


#img{
    background-image: url(../img/forca.png);
    width: 234px;
    height: 272px;
    background-repeat: no-repeat; 
}

#secret-word{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
    font-size: 1rem;
    margin-top: 30px;    
    color: #f1710f;         
}

.letters{ 
    width: 16px;  
    text-align: center;
    margin: 0px 4px 0px 4px;   
    padding: 2px;  
    color: #f1710f;      
    border-bottom: 3px solid #f1710f;   
}

#keyboard{
    margin-top: 30px;   
}

.keys button{
    width: 24px;
    height: 24px;
    margin: 2px 2px 7px 2px;   
    cursor: pointer;    
    border-radius: 6px;            
    background-color: black;   
    box-shadow: 0 0 4px  #f1710f;    
    border: 1px solid #f1710f; 
    color: #f1710f;      
    font-weight: 800; 
    font-family: 'Ubuntu', sans-serif;      
    transition: all 0.4s ease-in-out 0s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);         
}    

.keys button:hover{
    color: #000000; 
    background-color: #f1710f;  
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);  
}
#key-BTN{
    background-color: #f1710f;   
}

#key-BTN i{
    color: black;  
}

#category{
    margin-top: 30px; 
    color: #f1710f; 
    font-size: 1.2em;    
    font-family: 'Ubuntu', sans-serif;   
}